# Git
.git
.gitignore

# Виртуальные окружения Python
.venv/
venv/
env/

# Python-мусор
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# секретная информация
env
.env
.env.*
!.env.example

# Docker-файлы
Dockerfile
docker-compose*.yml
.dockerignore

# IDE и ОС
.idea/
.vscode/
.DS_Store
*.swp

# Документация, логи и лицензия
*.md
*.log
LICENSE

# встроенный claude
.claude
